.subheader {
  @apply px-6 py-[14px] flex flex-col gap-1 rounded-lg bg-white;

  &__title {
    @apply text-green-700 font-medium text-[21px] leading-[34px] font-roboto;
  }

  &__descriptions {
    @apply text-blue-gray-800 text-sm leading-[23px];
  }
}