.wrapper {
  @apply px-4 sm:px-8 max-w-screen-xl xl:(p-0 mx-auto)
}

button:focus {
  outline: none;
}

/* This feature is non-standard and is not on a standards track
There may also be large incompatibilities between implementations and the behavior may change in the future.
This is enhancement from UI Designer  */
* {
  @apply antialiased;
}
