.maintenance {
  @apply h-full w-full flex flex-col justify-center items-center;

  &__title {
    @apply font-serif text-[21px] leading-[34px] text-green-700 font-bold mt-8 mb-2;
  }

  &__subtitle {
    @apply text-sm leading-[23px] text-blue-gray-800 w-[317px] text-center;
  }
}
